.App {
    overflow: hidden;
}

/* Header Component Styling */

.headerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 96px;
    width: auto;
}

.navbar {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.navbar div:last-child {
    color: #A30926;
    font-weight: bold;
}

.navbarList {
    padding: 24px;
    color: #303030;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* Content Component Styling */

.contentSection {
    /* width: auto; */
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background: #FAFAFA;
    color: #303030;
}

.descriptionSection {
    flex-basis: 400px;
}

.miniDesc {
    opacity: 0.8;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.bigDesc {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}

.downloadSection {
    display: flex;
    margin-top: 40px;
}

.downloadSection img:last-child {
    margin-left: 40px;
}

.phoneSection {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

/* Product Component Styling */

.product {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    width: auto;
    align-items: flex-start;
    padding: 0 100px;
}

@media only screen and (max-width: 1200px) {
    .product {
        padding: 0;
    }
}

.productTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #303030;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    margin-left: 30px;
}

.productDesc {
    color: #707070;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin: 12px 0;
}

.productSection {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cardSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardImage {
    height: 80%;
}

.cardDescSection {
    margin-left: 30px;
}

.cardTitle {
    color: #5A5A5A;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
}

.cardTitle img {
    margin-left: 16px;
}

.cardDesc {
    color: #303030;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-top: 8px;
}

/* Mobile Layout Styling */

@media only screen and (max-width: 800px) {

    /* Header Mobile Styling */

    .headerSection {
        height: 72px;
        justify-content: space-between;
        padding: 0 25px;
    }

    /* Content Mobile Styling */

    .content {
        justify-content: center;
        height: 300px;
    }

    .descriptionSection {
        margin-left: 16px;
    }

    .downloadSection img:first-child {
        display: none;
    }

    .downloadSection img:last-child {
        margin: 0;
        width: 8rem;
    }

    .phoneSection {
        margin-right: -7.5rem;
    }

    .phoneSection img {
        height: 250px;
    }

    .miniDesc {
        font-size: 14px;
        line-height: 21px;
    }

    .bigDesc {
        font-size: 24px;
        line-height: 36px;
    }

    /* Product Mobile Styling */

    .productTitle {
        font-size: 24px;
        line-height: 36px;
        margin-left: 16px;
    }

    .productDesc {
        font-size: 16px;
        line-height: 21px;
    }

    .productSection {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .cardSection {
        margin: 8px 0;
    }

    .cardImage img {
        width: 160px;
        height: 160px
    }

    .cardTitle {
        font-size: 14px;
        line-height: 21px;
    }

    .cardTitle img {
        width: 16px;
        height: 16px;
    }

    .cardDesc {
        font-size: 10px;
        line-height: 15px;
    }

    .cardDescSection {
        margin-left: 16px;
    }
}